services:
  # The PHP Processor (The "App")
  php_app_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_app
    volumes:
      - .:/var/www/html
    environment:
      - UPLOAD_PATH=/var/www/html/uploads
      - APP_ENV=dev

  # The Web Server (Nginx)
  web:
    image: nginx:alpine
    container_name: nginx_server
    ports:
      - "8081:80"
    volumes:
      - .:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - php_app_service
